h1 {
    font-size: 64px;
    color: #ffff;
    letter-spacing: 3px;
}

header {
    background-color: #4fcff2;
    opacity: 0.6;
}

p {
    font-size: 42px;
    color: #ffff;
}

ul {
    font-size: 54px;
    font-weight: bold;
    padding-top: 40px;
}
